<!DOCTYPE html>
<html layout:decorator="layout/main">
<head>
<title>${#messages.msg('403.title')}</title>
</head>
<body>

	<div layout:fragment="content" class="container">

		<h3 class="text-center" th:text="#{403.title}"></h3>

		<h4 class="text-center" th:text="#{403.subtitle}"></h4>

		<div>
			<div>
				<ul>
					<li th:text="${errorMessage}" />
					<li th:text="${remoteAddress}" />
				</ul>
			</div>
		</div>

		<div>
			<a href="../smvcp1" th:href="@{../smvcp1}"><span
				th:text="#{403.back}"></span></a>
		</div>

	</div>

</body>
</html>