<!DOCTYPE html>
<html layout:decorator="layout/main">
<head>
<title>${#messages.msg('about.title')}</title>
</head>
<body>

	<div layout:fragment="content" class="container">

		<h3 class="text-center" th:text="#{about.title}"></h3>

		<!-- h4 th:text="#{about.subtitle}"></h4 -->

		<dl class="dl-horizontal">
			<dt><span th:text="#{about.formation}" /></dt>
			<dd>
				<ul class="list-unstyled">
					<li><span th:text="#{about.formation.item1}" /></li>
					<li><span th:text="#{about.formation.item2}" /></li>
					<li><span th:text="#{about.formation.item3}" /></li>
				</ul>
			</dd>
			<dt><span th:text="#{about.other}" /></dt>
			<dd>
				<ul class="list-unstyled">
					<li><span th:text="#{about.other.item1}" /></li>
					<li><span th:text="#{about.other.item2}" /></li>
					<li><span th:text="#{about.other.item3}" /></li>
				</ul>
			</dd>
			<dt><span th:text="#{about.work}" /></dt>
			<dd>
				<ul class="list-unstyled">
					<li><span th:text="#{about.work.item1}" /></li>
					<li><span th:text="#{about.work.item2}" /></li>
					<li><span th:text="#{about.work.item3}" /></li>
				</ul>
			</dd>
		</dl>

		<ul class="pager">
			<li><a href="../smvcp1" th:href="@{../smvcp1}"><span
					th:text="#{help.back}"></span></a></li>
		</ul>
	</div>
</body>
</html>