<!DOCTYPE html>
<html layout:decorator="layout/main">
<head>
<title>${#messages.msg('about.title')}</title>
</head>
<body>

	<div layout:fragment="content" class="container">

		<h3 class="text-center" th:text="#{about.title}"></h3>

		<!-- h4 th:text="#{about.subtitle}"></h4 -->

<a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
<h3>Example <span class="label label-default">New</span></h3>
		<div id="outer">
			<div id="inner" class="rcorners3">
				<ul>
					<li><span th:text="#{about.item1}" /></li>
					<li><span th:text="#{about.item2}" /></li>
					<li><span th:text="#{about.item3}" /></li>
					<li><span th:text="#{about.item4}" /></li>
					<li><span th:text="#{about.item5}" /></li>
					<li><span th:text="#{about.item6}" /></li>
					<li><span th:text="#{about.item7}" /></li>
				</ul>
			</div>
		</div>

		<div>
			<a href="../smvcp1" th:href="@{../smvcp1}"><span
				th:text="#{about.back}"></span></a>
		</div>

	</div>
</body>
</html>