<!DOCTYPE html>
<html layout:decorator="layout/main">
<head>
<title>${#messages.msg('admin.title')}</title>
</head>
<body>

	<div layout:fragment="content">

		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#"><span
						th:text="#{application.acronym}" /> <img class="brand"
						th:src="@{resources/images/icon.png}" /> </a>
				</div>
				<div>
					<ul class="nav navbar-nav">

						<li><a href="../smvcp1" th:href="@{../smvcp1}"> <span
								class="glyphicon glyphicon-home" /> <span
								th:text="#{navbar.home}"></span></a></li>

						<li class="active"><a href="#"> <span
								th:text="#{navbar.admin}" />
						</a></li>

					</ul>
					<ul class="nav navbar-nav navbar-right">

						<li><a id="admin-service" data-toggle="modal"
							data-target="#service-dialog" href="#" th:href="@{/adminService}">
								<span class="glyphicon glyphicon-share" /> <span
								th:text="#{navbar.record}" />
						</a></li>

						<li><a href="/logout" th:href="@{/logout}"><span
								class="glyphicon glyphicon-off"></span> <span
								th:text="#{navbar.logout}" /></a></li>


					</ul>
				</div>
			</div>
		</nav>

		<h3 class="text-center" th:text="#{admin.title}"></h3>

		<!-- h4 th:text="#{admin.subtitle}"></h4 -->

		<div class="row">
			<div class="col-md-3">
				<div class="text-info" sec:authorize="hasRole('ROLE_ADMIN')">
					<span
						th:text="|*{#strings.capitalize(#strings.substringBefore(principal, '@'))} (${#calendars.format(#calendars.createNow(), 'dd/MMM/yyyy HH:mm ')})|" />
				</div>
			</div>
			<div class="col-md-7">
				<div class="text-info" th:object="${#httpServletRequest.session}">
					<p>
						<span th:text="|#{admin.sessionId} *{id}|"></span>
					</p>
				</div>
			</div>
			<div class="col-md-2">
				<div class="text-info"
					th:object="${#httpServletRequest.session.servletContext}">
					<p>
						<span th:text="|#{admin.path} *{contextPath}|"></span>
					</p>
				</div>
			</div>
		</div>

		<!-- not used any more -->
		<div id="admin_service_dialog" th:title="#{admin.title}">
			<p>
				<span class="ui-icon ui-icon-circle-check"
					style="float: left; margin: 0 7px 50px 0;"></span> <span
					th:text="#{admin.serviceBody}" />
			</p>
		</div>


		<div class="table-responsive">
			<table class="table">
				<caption class="text-center">
					<span th:text="#{admin.caption}" />
				</caption>
				<thead>
					<tr>
						<th pages:sort="id"><span th:text="#{admin.id}" /></th>
						<th pages:sort="userName"><span th:text="#{admin.name}" /></th>
						<th pages:sort="enabled"><span th:text="#{admin.enabled}" /></th>
						<th><span th:text="#{admin.roles}" /></th>
						<th><span th:text="#{admin.action}" /></th>
						<th><span th:text="#{admin.action}" /></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${users}" pages:paginate="3"
						th:class="${userStat.even} ? 'even' : 'odd'">
						<td th:text="${user.id}">xx</td>
						<td style="text-align: left;"
							th:text="${user.userName} +  (${user.userName eq principal} ? ' *' : '')">xxx</td>
						<td><img th:if="${user.enabled}" alt="Si"
							scr="../../resources/images/check.png"
							th:src="@{resources/images/check.png}" /> <img
							th:if="${not user.enabled}" alt="Si"
							scr="../../resources/images/cross.png"
							th:src="@{resources/images/cross.png}" /></td>
						<td>
							<table th:object="${user}">
								<tr th:each="auth : *{authorities}">
									<td th:text="${#strings.substringAfter(auth.authority, '_')}"></td>
								</tr>
							</table>
						</td>
						<!-- td><a th:href="@{/edit/__${user.id}__}">[[#{admin.edit}]]</a></td -->
						<td><a th:href="@{/edit(id=${user.id})}"><span
								th:text="#{admin.edit}" /></a></td>
						<td><a th:href="@{/connections(id=${user.id})}"><span
								th:text="#{admin.connections}" /></a></td>
					</tr>
				</tbody>
				<tfoot>

				</tfoot>

			</table>
		</div>

		<!-- Service dialog -->
		<div name="service-dialog" id="service-dialog" class="modal fade"
			role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">
							<span th:text="#{admin.title}" />
						</h4>
					</div>
					<div class="modal-body">
						<p>
							<span class="ui-icon ui-icon-circle-check"
								style="float: left; margin: 0 7px 50px 0;"></span> <span
								th:text="#{admin.serviceBody}" />
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							<span th:text="#{login.dialog.close}" />
						</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>
