<!DOCTYPE html>
<html layout:decorator="layout/main">
<head>
<title>${#messages.msg('changepwd.title')}</title>
</head>
<body>

	<div layout:fragment="content">

		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#"><span
						th:text="#{application.acronym}" /> <img class="brand"
						th:src="@{resources/images/icon.png}" /> </a>
				</div>
				<div>
					<ul class="nav navbar-nav">

						<li><a href="../smvcp1" th:href="@{../smvcp1}"> <span
								class="glyphicon glyphicon-home" /> <span
								th:text="#{navbar.home}"></span></a></li>

						<li class="active"><a href="#"> <span
								class="glyphicon glyphicon-lock"></span> <span
								th:text="#{navbar.changepwd}" class="text-default" /></a></li>

					</ul>
					<ul class="nav navbar-nav navbar-right">

						<li><a href="/logout" th:href="@{/logout}"><span
								class="glyphicon glyphicon-off"></span> <span
								th:text="#{navbar.logout}" /></a></li>

					</ul>

				</div>
			</div>
		</nav>


		<h3 class="text-center" th:text="#{changepwd.title}"></h3>

		<div class="panel panel-default">
			<div class="panel-heading">
				<span th:text="#{changepwd.legend}" />
			</div>
			<div class="panel-body">
				<form name="form-changepwd" id="form-changepwd" th:action="@{/changepwd}" th:object="${userRegistrationBean}"
					method="post" class="form-horizontal" role="form">
					
					<fieldset>
						<table th:if="${#fields.hasAnyErrors()}" class="table">
							<tr th:each="error : ${#fields.allErrors()}">
								<td th:text="${error}">Error de entrada</td>
							</tr>
						</table>

						<!--  ul th:if="${#fields.hasAnyErrors()}">
				<li th:each="error : ${#fields.allErrors()}" th:text="${error}">Error
					de entrada</li>
			</ul -->
						<div class="form-group">
							<label class="control-label col-sm-2" for="username"
								th:text="#{changepwd.userName}" />
							<div class="col-sm-10">
								<input type="text" id="username" name="username"
									th:field="*{userName}" readonly="readonly" class="form-control"
									th:placeholder="#{changepwd.username.tip}" />
							</div>
							<!--  ul th:if="${#fields.hasErrors('userName')}">
				<li th:each="error : ${#fields.errors('userName')}"
						th:text="${error}">Error de entrada</li>
			</ul -->
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="password"
								th:text="#{changepwd.password}" />
							<div class="col-sm-4">
								<input type="password" id="password" name="password"
									th:field="*{password}" class="form-control"
									th:placeholder="#{changepwd.password.tip}" />
							</div>
							<!-- ul th:if="${#fields.hasErrors('password')}">
				<li th:each="error : ${#fields.errors('password')}"
						th:text="${error}">Error de entrada</li>
			</ul -->

							<label class="control-label col-sm-2" for="passwordConfirmation"
								th:text="#{changepwd.passwordConfirmation}" />
							<div class="col-sm-4">
								<input type="password" id="passwordConfirmation"
									name="passwordConfirmation" th:field="*{passwordConfirmation}"
									class="form-control"
									th:placeholder="#{changepwd.passwordConfirmation.tip}" />
							</div>
							<!-- ul th:if="${#fields.hasErrors('passwordConfirmation')}">
				<li th:each="error : ${#fields.errors('passwordConfirmation')}"
						th:text="${error}">Error de entrada</li>
			</ul -->
						</div>
						<div class="form-group">
							<div class="col-sm-offset-4 col-sm-8">
								<button class="btn btn-default btn-lg" type="submit"
									name="action" value="save">
									<span th:text="#{changepwd.action.save}" />
								</button>
								<button class="btn btn-default btn-lg" type="submit"
									name="action" value="cancel">
									<span th:text="#{changepwd.action.cancel}" />
								</button>
							</div>
						</div>
						<input type="hidden" name="${_csrf.parameterName}"
							value="${_csrf.token}" />
					</fieldset>
				</form>
			</div>
		</div>

	</div>
</body>
</html>
