<!DOCTYPE html>
<html layout:decorator="layout/main">
<head>
<title>${#messages.msg('connections.title')}</title>
</head>
<body>
	<div layout:fragment="content">
	
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#"><span
						th:text="#{application.acronym}" />
						<img class="brand"
						th:src="@{resources/images/icon.png}" />
						</a>
				</div>
				<div>
					<ul class="nav navbar-nav">

						<li><a href="../smvcp1" th:href="@{../smvcp1}"> <span
								class="glyphicon glyphicon-home" /> <span
								th:text="#{navbar.home}"></span></a></li>

						<li><a href="admin"	th:href="@{/admin}">
							<span class="glyphicon glyphicon-exclamation-sign"/>
							<span th:text="#{navbar.admin}" /></a></li>
						
						<li class="active"><a href="#"> <span
								th:text="#{navbar.connections}" />
						</a></li>

					</ul>
					<ul class="nav navbar-nav navbar-right">

						<li><a href="/logout" th:href="@{/logout}"><span
								class="glyphicon glyphicon-off"></span> <span
								th:text="#{navbar.logout}" /></a></li>


					</ul>
				</div>
			</div>
		</nav>
	

		<h3 class="text-center" th:text="#{connections.title}"></h3>

		<div th:if="${connections.size() eq 0}">
			<span th:text="#{connections.noconnections}" />
		</div>

		<div th:if="${connections.size() gt 0}">
			<div class="table-responsive">
				<table class="table table-striped">
					<caption>
						<span th:text="#{connections.caption}" />
					</caption>
					<thead>
						<tr>
							<th pages:sort="id"><span th:text="#{connections.id}" /></th>
							<th pages:sort="ip"><span th:text="#{connections.ip}" /></th>
							<th pages:sort="timeIn"><span
								th:text="#{connections.timeIn}" /></th>
						</tr>
					</thead>
					<tbody th:remove="all-but-first">
						<tr th:each="connection : ${connections}" pages:paginate="5"
							th:class="${connectionStat.even} ? 'even' : 'odd'">
							<!-- td th:text="${connectionStat.count}">xx</td -->
							<td th:text="${connection.id}">xx</td>
							<td style="text-align: left;" th:text="${connection.ip}">xxx</td>
							<td style="text-align: left;"
								th:text="${#calendars.format(connection.timeIn, 'dd MMMM yyyy hh:mm:ss')}">xxx</td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>
		<p />

	</div>
</body>
</html>