<!DOCTYPE html>
<html layout:decorator="layout/main">
<head>
<title>${#messages.msg('connections.title')}</title>
</head>
<body>
	<div layout:fragment="content">

		<h3 class="text-center" th:text="#{connections.title}"></h3>

		<div th:if="${connections.size() eq 0}">
			<span th:text="#{connections.noconnections}" />
		</div>

		<div th:if="${connections.size() gt 0}">
			<div class="table-responsive">
				<table class="table table-striped">
					<caption>
						<span th:text="#{connections.caption}" />
					</caption>
					<thead>
						<tr>
							<th pages:sort="id"><span th:text="#{connections.id}" /></th>
							<th pages:sort="ip"><span th:text="#{connections.ip}" /></th>
							<th pages:sort="timeIn"><span
								th:text="#{connections.timeIn}" /></th>
						</tr>
					</thead>
					<tbody th:remove="all-but-first">
						<tr th:each="connection : ${connections}" pages:paginate="5"
							th:class="${connectionStat.even} ? 'even' : 'odd'">
							<!-- td th:text="${connectionStat.count}">xx</td -->
							<td th:text="${connection.id}">xx</td>
							<td style="text-align: left;" th:text="${connection.ip}">xxx</td>
							<td style="text-align: left;"
								th:text="${#calendars.format(connection.timeIn, 'dd MMMM yyyy hh:mm:ss')}">xxx</td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>
		<p />

		<ul class="pager">
		
		<!-- li><a href="javascript:history.back()"><span
					th:text="#{connections.back}"></span></a></li -->
		
			<li><a href="../smvcp1" th:href="@{../smvcp1}"><span
					th:text="#{connections.gohome}"></span></a></li>
		</ul>

	</div>
</body>
</html>