<!DOCTYPE html>
<html layout:decorator="layout/main">
<head>
<title>${#messages.msg('contact.title')}</title>
</head>
<body>

	<div layout:fragment="content">

		<h3 class="text-center" th:text="#{contact.title}"></h3>

		<!-- TODO create ContactBean class -->
		<form th:action="@{/contact}" th:object="${contactBean}" method="post"
			class="form-horizontal" role="form">
			<legend>
				<span th:utext="#{contact.legend}" />
			</legend>
			<fieldset>
				<!-- table th:if="${#fields.hasAnyErrors()}" class="table">
					<tr th:each="error : ${#fields.allErrors()}">
						<td th:text="${error}">Error de entrada</td>
					</tr>
				</table -->

				<!--  ul th:if="${#fields.hasAnyErrors()}">
				<li th:each="error : ${#fields.allErrors()}" th:text="${error}">Error
					de entrada</li>
			</ul -->
				<div class="form-group">
					<label class="control-label col-sm-2" for="username"> <span
						th:text="#{contact.userName}" />
					</label>
					<div class="col-sm-10">
						<input th:if="${!#fields.hasErrors('userName')}" type="text"
							id="username" name="username" th:field="*{userName}"
							class="form-control" th:placeholder="#{contact.userName.tip}" />
						<input th:placeholder="#{Email.contactBean.userName}"
							th:if="${#fields.hasErrors('userName')}" type="text"
							id="username" name="username" th:field="*{userName}"
							class="form-control" />
					</div>
					<!--  ul th:if="${#fields.hasErrors('userName')}">
				<li th:each="error : ${#fields.errors('userName')}"
						th:text="${error}">Error de entrada</li>
			</ul -->
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="subject"> <span
						th:text="#{contact.subject}" />
					</label>
					<div class="col-sm-10">
						<input th:if="${!#fields.hasErrors('subject')}"
							th:placeholder="#{contact.subject.tip}" type="text" id="subject"
							name="subject" th:field="*{subject}" class="form-control" /> <input
							th:if="${#fields.hasErrors('subject')}"
							th:placeholder="#{NotBlank.contactBean.subject}" type="text"
							id="subject" name="subject" th:field="*{subject}"
							class="form-control" />
					</div>
					<!-- ul th:if="${#fields.hasErrors('password')}">
				<li th:each="error : ${#fields.errors('password')}"
						th:text="${error}">Error de entrada</li>
			</ul -->
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="comments"> <span
						th:text="#{contact.comments}" />
					</label>
					<div class="col-sm-10">
						<input th:if="${!#fields.hasErrors('comments')}"
							th:placeholder="#{contact.comments.tip}" type="text"
							id="comments" name="comments" th:field="*{comments}"
							class="form-control" /> <input
							th:if="${#fields.hasErrors('comments')}"
							th:placeholder="#{NotBlank.contactBean.comments}" type="text"
							id="comments" name="comments" th:field="*{comments}"
							class="form-control" />
					</div>
					<!-- ul th:if="${#fields.hasErrors('passwordConfirmation')}">
				<li th:each="error : ${#fields.errors('passwordConfirmation')}"
						th:text="${error}">Error de entrada</li>
			</ul -->
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" name="action" value="save"
							class="btn btn-default btn-lg">
							<span th:text="#{contact.action.save}" />
						</button>
						<button type="submit" name="action" value="cancel"
							class="btn btn-default btn-lg">
							<span th:text="#{contact.action.cancel}" />
						</button>
					</div>
				</div>
				<input type="hidden" name="${_csrf.parameterName}"
					value="${_csrf.token}" />
			</fieldset>
		</form>
		
		<span id="map_canvas"></span>

	</div>
</body>
</html>