<!DOCTYPE html>
<html layout:decorator="layout/main">
<head>
<title>${#messages.msg('edit.title')}</title>
</head>
<body>

	<div layout:fragment="content">

		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#"><span
						th:text="#{application.acronym}" /> <img class="brand"
						th:src="@{resources/images/icon.png}" /> </a>
				</div>
				<div>
					<ul class="nav navbar-nav">

						<li><a href="../smvcp1" th:href="@{../smvcp1}"> <span
								class="glyphicon glyphicon-home" /> <span
								th:text="#{navbar.home}"></span></a></li>

						<li><a href="admin" th:href="@{/admin}"> <span
								class="glyphicon glyphicon-exclamation-sign" /> <span
								th:text="#{navbar.admin}" /></a></li>

						<li class="active"><a href="#"> <span
								th:text="#{navbar.edit}" />
						</a></li>

					</ul>
					<ul class="nav navbar-nav navbar-right">

						<li><a href="/logout" th:href="@{/logout}"><span
								class="glyphicon glyphicon-off"></span> <span
								th:text="#{navbar.logout}" /></a></li>

					</ul>
				</div>
			</div>
		</nav>



		<h3 class="text-center" th:text="#{edit.title}"></h3>

		<div class="panel panel-default">
			<div class="panel-heading">
				<span th:text="#{edit.legend}" />
			</div>
			<div class="panel-body">
				<form action="#" th:action="@{/edit}" th:object="${userEditBean}"
					method="post" class="form-horizontal" role="form">

					<fieldset>
						<!-- ul th:if="${#fields.hasAnyErrors()}">
				<li th:each="error : ${#fields.allErrors()}" th:text="${error}">Error
					de entrada</li>
			</ul -->
						<div class="form-group">
							<label class="control-label col-sm-2" for="userName"
								th:text="#{edit.userName}" />
							<div class="col-sm-10">
								<input type="text" id="userName" name="userName"
									th:field="*{userName}" readonly="readonly" class="form-control" />
							</div>
							<ul th:if="${#fields.hasErrors('userName')}">
								<li th:each="error : ${#fields.errors('userName')}"
									th:text="${error}">xxx</li>
							</ul>
						</div>

						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<div class="checkbox">
									<label class="control-label col-sm-2"
										th:for="${#ids.seq('enabled')}"> <input
										type="checkbox" th:field="*{enabled}" /> <span
										th:text="#{edit.enabled}" /></label>
								</div>
							</div>
						</div>

						<div class="text-center">
							<mark>
								<span th:text="#{edit.roles}" />
							</mark>
						</div>


						<div class="form-group" th:each="role, roleStat: ${allRoles}">
							<div class="col-sm-offset-2 col-sm-10">
								<div class="checkbox">
									<label th:for="${#ids.next('roles')}"
										class="control-label col-sm-4">
										<input type="checkbox" th:field="*{roles}" th:value="${role}"> </input>
										<span th:text="#{${'edit.role.' + role}}" /> 
										</label>
								</div>
							</div>
						</div>

						<div class="form-group text-center">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-default btn-lg"
									name="action" value="save">
									<span th:text="#{edit.action.save}" />
								</button>
								<!-- button type="submit" class="btn btn-default btn-lg"
									name="action" value="cancel">
									<span th:text="#{edit.action.cancel}" />
								</button -->
								<button type="submit" class="btn btn-danger btn-lg"
									name="action" value="delete">
									<span th:text="#{edit.action.delete}" />
								</button>
							</div>
						</div>
						<input type="hidden" name="${_csrf.parameterName}"
							value="${_csrf.token}" />
					</fieldset>
				</form>
			</div>
		</div>

	</div>

</body>
</html>