<!DOCTYPE html>
<html layout:decorator="layout/main">
<head>
<title>${#messages.msg('help.title')}</title>
</head>
<body>

	<div layout:fragment="content">

		<h3 class="text-center" th:text="#{help.title}"></h3>

		<!-- h4 th:text="#{help.subtitle}"></h4 -->

		<ul class="list-group">
			<li class="list-group-item"><span th:text="#{help.item1}" /></li>
			<li class="list-group-item"><span th:text="#{help.item2}" /></li>
			<li class="list-group-item"><span th:text="#{help.item3}" /></li>
			<li class="list-group-item"><span th:text="#{help.item4}" /></li>
			<li class="list-group-item"><span th:text="#{help.item5}" /></li>
			<li class="list-group-item"><span th:text="#{help.item6}" /></li>
			<li class="list-group-item"><span th:text="#{help.item7}" /></li>
			<li class="list-group-item"><span th:text="#{help.item8}" /></li>
			<li class="list-group-item"><span th:text="#{help.item9}" /></li>
			<li class="list-group-item"><span th:text="#{help.item10}" /></li>
			<li class="list-group-item"><span th:text="#{help.item11}" /></li>
			<!-- li><span th:text="#{help.item12}" /></li -->
		</ul>


		<ul class="pager">
			<li><a href="../smvcp1" th:href="@{../smvcp1}"><span
					th:text="#{help.back}"></span></a></li>
		</ul>

	</div>

</body>
</html>
