<!DOCTYPE html>
<html layout:decorator="layout/main">
<head>
<title>${#messages.msg('home.title')}</title>
</head>
<body>

	<div layout:fragment="content">

		<h3 class="text-center" th:text="#{home.title}"></h3>

		<div th:object="${#httpServletRequest.userPrincipal}">
			<span
				th:text="|#{home.welcome} *{#strings.capitalize(#strings.substringBefore(name, '@'))}|" />
			<img th:if="${user.enabled}" alt="enabled"
				src="../../resources/images/enabled.png"
				th:src="@{resources/images/enabled.png}" /> <span
				th:if="${user.enabled}" class="glyphicon glyphicon-star"></span>
		</div>

		<table class="table" th:object="${user}" th:if="${user.enabled}">
			<caption th:text="#{home.caption}">xx</caption>
			<thead>
				<tr>
					<th th:text="#{home.role}">Role</th>
					<th th:text="#{home.role.label}">Email</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="auth : *{authorities}"
					th:class="${authStat.even} ? 'even' : 'odd'">
					<td><img
						th:if="${#strings.substringAfter(auth.authority,'_') eq 'ADMIN'}"
						alt="admin" src="../../resources/images/admin.png"
						th:src="@{resources/images/admin.png}" /> <img
						th:if="${#strings.substringAfter(auth.authority,'_') eq 'USER'}"
						alt="user" src="../../resources/images/user.png"
						th:src="@{resources/images/user.png}" /></td>
					<td th:text="${#strings.substringAfter(auth.authority,'_')}">x</td>
				</tr>
			</tbody>
		</table>

		<ul class="pager">
			<li><a href="#" th:href="@{/profile}"><span
					th:text="#{home.profile}" /></a></li>
			<li><a href="#"
				th:href="@{/changepwd(username=${#httpServletRequest.userPrincipal.name})}"><span
					th:text="#{home.changepwd}" /></a></li>
			<li><a href="#" th:href="@{/unsubscribe}"><span
					th:text="#{home.unsubscribe}" /></a></li>
			<span sec:authorize-url="/admin">
				<li><a href="admin" th:href="@{/admin}"><span
						th:text="#{home.adminArea}" /></a></li>
			</span>
		</ul>

		<form action="logout" th:action="@{/logout}" method="post">

			<div class="form-actions">
				<button type="submit" class="btn btn-default btn-lg">
					<span th:text="#{home.logout}" />
				</button>
				<input type="hidden" name="${_csrf.parameterName}"
					value="${_csrf.token}" />
			</div>
		</form>
	</div>

</body>
</html>
