<!DOCTYPE html>
<html layout:decorator="layout/main">
<head>
<title>${#messages.msg('home.title')}</title>
</head>
<body>

	<div layout:fragment="content">

		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#"><span
						th:text="#{application.acronym}" /> <img class="brand"
						th:src="@{resources/images/icon.png}" /> </a>
				</div>
				<div>
					<ul class="nav navbar-nav">

						<li class="active"><a href="#"> <span
								class="glyphicon glyphicon-home" /> <span
								th:text="#{navbar.home}" />
						</a></li>

						<li><a href="#" th:href="@{/profile}"> <span
								class="glyphicon glyphicon-pencil" /> <span
								th:text="#{navbar.profile}" /></a></li>

						<li><a href="#"
							th:href="@{/changepwd(username=${#httpServletRequest.userPrincipal.name})}">
								<span class="glyphicon glyphicon-lock"></span> <span
								th:text="#{navbar.changepwd}" class="text-default" />
						</a></li>

						<li><a id="unsubscribe" href="#"
							th:href="@{/unsubscribe(username=${#httpServletRequest.userPrincipal.name})}">
								<span class="glyphicon glyphicon-remove" /> <span
								th:text="#{navbar.unsubscribe}" class="text-danger" />
						</a></li>

						<li sec:authorize-url="/admin"><a href="admin"
							th:href="@{/admin}"> <span
								class="glyphicon glyphicon-exclamation-sign" /> <span
								th:text="#{navbar.admin}" /></a></li>

					</ul>
					<ul class="nav navbar-nav navbar-right">

						<li><a href="/logout" th:href="@{/logout}"><span
								class="glyphicon glyphicon-off"></span> <span
								th:text="#{navbar.logout}" /></a></li>

					</ul>

				</div>
			</div>
		</nav>

		<!-- New confirmation unsubscribe dialog -->

		<div class="modal fade" role="dialog" aria-hidden="true"
			id="confirm-unsubscribe-dialog2">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close float-right"
							data-dismiss="modal">&times;</button>
						<h3 class="modal-title">
							<span th:text="#{home.confirmation-dialog.title}" />
						</h3>
					</div>
					<div class="modal-body">
						<span th:text="#{home.confirmation-dialog.body}" />
					</div>
					<!--  div class="modal-footer">
						<button type="button" class="btn btn-success" data-dismiss="modal">
							<span th:text="#{home.user-dialog.ok}" />
						</button>
					</div -->
				</div>
			</div>
		</div>

		<!-- Old confirmation unsubscribe dialog -->
		
		<div role="dialog" id="confirm-unsubscribe-dialog"
			th:title="#{home.confirmation-dialog.title}">
			<p>
				<span th:text="#{home.confirmation-dialog.body}" />
			</p>
		</div>
		​
		<h3 class="text-center" th:text="#{home.title}"></h3>

		<div th:object="${#httpServletRequest.userPrincipal}">
			<p>
				<span
					th:text="|#{home.welcome} *{#strings.capitalize(#strings.substringBefore(name, '@'))}|" />
			</p>
			<img th:if="${user.enabled}" alt="enabled"
				src="../../resources/images/enabled.png"
				th:src="@{resources/images/enabled.png}" />
		</div>

		<table class="table" th:object="${user}" th:if="${user.enabled}">
			<caption class="text-center" th:text="#{home.caption}">xx</caption>
			<thead>
				<tr>
					<th th:text="#{home.role}">Role</th>
					<th th:text="#{home.role.label}">Email</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="auth : *{authorities}"
					th:class="${authStat.even} ? 'even' : 'odd'">
					<td><a href="#" data-toggle="modal"
						data-target="#admin-dialog"> <img
							th:if="${#strings.substringAfter(auth.authority,'_') eq 'ADMIN'}"
							alt="admin" src="../../resources/images/admin.png"
							th:src="@{resources/images/admin.png}" data-toggle="tooltip"
							data-placement="below" th:title="#{home.clickme}" /></a>

						<div class="modal fade" role="dialog" aria-hidden="true"
							id="admin-dialog">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close float-right"
											data-dismiss="modal">&times;</button>
										<h3 class="modal-title">
											<span th:text="#{home.admin-dialog.title}" />
										</h3>
									</div>
									<div class="modal-body">
										<span th:text="#{home.admin-dialog.body}" />
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-success"
											data-dismiss="modal">
											<span th:text="#{home.admin-dialog.ok}" />
										</button>
									</div>
								</div>
							</div>
						</div> <a href="#" data-toggle="modal" data-target="#user-dialog"> <img
							th:if="${#strings.substringAfter(auth.authority,'_') eq 'USER'}"
							alt="user" src="../../resources/images/user.png"
							th:src="@{resources/images/user.png}" data-toggle="tooltip"
							data-placement="below" th:title="#{home.clickme}" /></a>

						<div class="modal fade" role="dialog" aria-hidden="true"
							id="user-dialog">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close float-right"
											data-dismiss="modal">&times;</button>
										<h3 class="modal-title">
											<span th:text="#{home.user-dialog.title}" />
										</h3>
									</div>
									<div class="modal-body">
										<span th:text="#{home.user-dialog.body}" />
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-success"
											data-dismiss="modal">
											<span th:text="#{home.user-dialog.ok}" />
										</button>
									</div>
								</div>
							</div>
						</div> <a href="#" data-toggle="modal" data-target="#root-dialog"> <img
							th:if="${#strings.substringAfter(auth.authority,'_') eq 'ROOT'}"
							alt="root" src="../../resources/images/root.png"
							th:src="@{resources/images/root.png}" data-toggle="tooltip"
							data-placement="below" th:title="#{home.clickme}" /></a>

						<div class="modal fade" role="dialog" aria-hidden="true"
							id="root-dialog">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close float-right"
											data-dismiss="modal">&times;</button>
										<h3 class="modal-title">
											<span th:text="#{home.root-dialog.body}" />
										</h3>
									</div>
									<div class="modal-body">
										<span th:text="#{home.root-dialog.body}" />
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-success"
											data-dismiss="modal">
											<span th:text="#{home.root-dialog.ok}" />
										</button>
									</div>
								</div>
							</div>
						</div></td>
					<td th:text="${#strings.substringAfter(auth.authority,'_')}">x</td>
				</tr>
			</tbody>
		</table>


	</div>

</body>
</html>
