<!DOCTYPE html>
<html layout:decorator="layout/main">
<head>
<title>${#messages.msg('home.title')}</title>
<script type="text/javascript" > 

// <![CDATA[

// global variable declared as a callback method or function
var handler = function(event) {
	var msgs = ["Trial version", "No license"];
	
	$("div").dblclick(function() { 
		alert(msgs.sort()[0]);
	}); 
};
            
jQuery(document).ready(handler);

$(document).ready(function() {

	var noTime = $.fullCalendar.moment('2014-05-01');
	var local = $.fullCalendar.moment('2014-05-01T12:00:00');
	var utc = $.fullCalendar.moment.utc('2014-05-01T12:00:00');
	var noTZ = $.fullCalendar.moment.parseZone('2014-05-01T12:00:00');

	// page is now ready, initialize the calendar...

	$('#calendar').fullCalendar({
		// you can define your own buttons 
		customButtons : {
			button1 : {
				text : 'custom!',
				click : function() {
					alert('clicked the custom button!');
				}
			}
		},
		// User defined fullcalendar top header
		header : {
			// 'title' stands for the actual month and year
			left : 'prevYear, title, nextYear',
			// left : 'prevYear, title, nextYear, button1',
			center : "month, agendaDay, agendaWeek",
			// center: "month, basicDay, basicWeek, agendaDay, agendaWeek",
			// center : 'timelineDay, timelineWeek, timelineMonth,
			// timelineYear',
			right : 'today prev,next'
		},
		// Monday
		firstDay : 1,
		// defaults to true
		weekends : true,
		// This option is useful for right-to-left languages such as Arabic and
		// Hebrew.
		isRTL : false,
		hiddenDays : [],
		// If true, the calendar will always be 6 weeks tall. If false, the
		// calendar will have either 4, 5, or 6 weeks, depending on the month.
		fixedWeekCount : false,
		// Determines if week numbers should be displayed on the calendar.
		weekNumbers : true,
		businessHours : {
			start : '09:00', // a start time (10am in this example)
			end : '18:00', // an end time (6pm in this example)
			dow : [ 1, 2, 3, 4, 5, 6 ]
		// days of week. an array of zero-based day of week integers (0=Sunday)
		// (Monday-Saturday in this example)
		},
		// integer also acceptable
		// height: auto,
		// width vs. height, this is the aspect ratio of the calendar's
		// "content" area
		aspectRatio : 1.35,
		// Whether to automatically resize the calendar when the browser window
		// resizes
		handleWindowResize : true,
		// A value of false (the default) will display all events as-is.
		// A value of true will limit the number of events to the height of the
		// day cell.
		// An integer value will limit the events to a specific number of rows.
		eventLimit : true, // for all non-agenda views
		// initial view
		views : {
			agenda : {
				eventLimit : 6
			// adjust to 6 only for agendaWeek/agendaDay
			}
		},
		// Determines the action taken when the user clicks on a "more" link
		// created by the eventLimit option. Other values "week" and "day"
		eventLimitClick : "popover",
		schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
		//schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
		// defaultView : 'timelineMonth',
		// defaultView : 'timelineYear',
		defaultView : 'agendaDay',
		// defaultView: 'timelineDay',
		// header : [ center, 'month,timelineFourDays' ],
		events: {
			type: 'POST', 		// GET/POST 
        		url: '/getEvents',	// ajax call  
        		dataType: "json",
        		contentType: "application/json",					
        		//color: 'yellow',   			// background
            textColor: 'black'			// foreground
       	},
		//eventColor: '#378006',
		editable : false,
		// cell width
		slotWidth : 100,
		allDaySlot: false,
		slotDuration: '01:00:00',
		
		/*
			calEvent: A standard JavaScript object that FullCalendar uses to store information about a calendar event:
				id, title, allDay, start, end...
			jsEvent: holds the native JavaScript event with low-level information such as click coordinates.
			view: holds the current View Object. An object that is passed to every callback, containing info about the current view.
				name, title, start, end...
				
		*/
	    eventClick: function(calEvent, jsEvent, view) {

	        if (confirm('Eliminar evento: ' + calEvent.title + '?')) {
	        		deleteEvent(calEvent.id);
		    }
	        //alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
	        //alert('View: ' + view.name);
	        // change the border color just for fun
	        
	    },
		selectable: true,
		selectHelper: true,
		dayClick: function (date, jsEvent, view, resourceObj) {
		    saveEvent(date);
		},
	});

});

/*
 * date is javascript moment not a js Date
 */
function saveEvent(date) {
	//alert("Saving event " + date);
	// date records one more hour
	var end = date;
	date = moment(date).subtract(1, "hours");
	var title = prompt("Motivo", "Reunión");

	if (title) {
		var eventJson = {
			//'resourceId': EventID,
			'id': 0,
			'resourceId': 'none',
			'title': title,
			'start': date,
			// one hour later
			'end': end
		};
		//alert(JSON.stringify(eventJson));
		$.ajax({
        		type: 'POST',
        		url: "/saveEvent",
        		dataType: "json",
        		contentType: "application/json",
        		data: JSON.stringify(eventJson),
        		// TODO review
        		success : function(data) {
        			$("#calendar").fullCalendar("refetchEvents");

			},
			error : function(e) {
			},
			done : function(e) {
				$(this).css('border-color', 'red');
			}
    		}); 
	}
	// from the server
	location.reload(true);
};

function deleteEvent(eventId) {
    var dataRow = {
        'id': eventId
    }
    $.ajax({
        type: 'POST',
        url: "/deleteEvent",
   		// param=value format
        data: 'id=' + eventId,
        success : function(data) {
        		$("#calendar").fullCalendar("refetchEvents");
		},
		error : function(e) {
		},
		done : function(e) {
			alert("Event deleted " + eventId);
		}
    }); 
};

function showEventPopup(date) {
    //ClearPopupFormValues();
    //$('#popupEventForm').dialog("open");
    //$('#eventTitle').focus(); 
} ; 

// ]]>

</script>
</head>
<body>

	<div layout:fragment="content">

		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#"><span
						th:text="#{application.acronym}" /> <img class="brand"
						th:src="@{resources/images/smartcoding_logo.png}" /> </a>
				</div>
				<div>
					<ul class="nav navbar-nav">

						<li class="active"><a href="#"> <span
								class="glyphicon glyphicon-home" /> <span
								th:text="#{navbar.home}" />
						</a></li>

						<li><a href="#" th:href="@{/profile}"> <span
								class="glyphicon glyphicon-pencil" /> <span
								th:text="#{navbar.profile}" /></a></li>

						<li><a href="#"
							th:href="@{/changepwd(username=${#httpServletRequest.userPrincipal.name})}">
								<span class="glyphicon glyphicon-lock"></span> <span
								th:text="#{navbar.changepwd}" class="text-default" />
						</a></li>

						<li><a id="unsubscribe" href="#"
							th:href="@{/unsubscribe(username=${#httpServletRequest.userPrincipal.name})}">
								<span class="glyphicon glyphicon-remove" /> <span
								th:text="#{navbar.unsubscribe}" class="text-danger" />
						</a></li>

						<li sec:authorize-url="/admin"><a href="admin"
							th:href="@{/admin}"> <span
								class="glyphicon glyphicon-exclamation-sign" /> <span
								th:text="#{navbar.admin}" /></a></li>

					</ul>
					<ul class="nav navbar-nav navbar-right">

						<li><a href="/logout" th:href="@{/logout}"><span
								class="glyphicon glyphicon-off"></span> <span
								th:text="#{navbar.logout}" /></a></li>

					</ul>

				</div>
			</div>
		</nav>

		<!-- New confirmation unsubscribe dialog -->

		<div class="modal fade" role="dialog" aria-hidden="true"
			id="confirm-unsubscribe-dialog2">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close float-right"
							data-dismiss="modal">&times;</button>
						<h3 class="modal-title">
							<span th:text="#{home.confirmation-dialog.title}" />
						</h3>
					</div>
					<div class="modal-body">
						<span th:text="#{home.confirmation-dialog.body}" />
					</div>
					<!--  div class="modal-footer">
						<button type="button" class="btn btn-success" data-dismiss="modal">
							<span th:text="#{home.user-dialog.ok}" />
						</button>
					</div -->
				</div>
			</div>
		</div>

		<!-- Old confirmation unsubscribe dialog -->

		<div class="modal" role="dialog" id="confirm-unsubscribe-dialog"
			th:title="#{home.confirmation-dialog.title}">
			<p>
				<span th:text="#{home.confirmation-dialog.body}" />
			</p>
		</div>
		​
		<h3 class="text-center" th:text="#{home.title}"></h3>

		<div th:if="${profiled}" class="alert alert-success">
			<span th:text="#{home.profiled}" />
		</div>

		<div th:if="${pwdchanged}" class="alert alert-success">
			<span th:text="#{home.pwdchanged}" />
		</div>

		<div th:if="total" class="alert alert-success">
			<span th:text="| ${total} #{home.records_found}|" />
		</div>

		<div th:object="${#httpServletRequest.userPrincipal}">
			<p>
				<span
					th:text="|#{home.welcome} *{#strings.capitalize(#strings.substringBefore(name, '@'))}|" />

				<img th:if="${user.enabled}" alt="enabled"
					src="../../resources/images/enabled.png"
					th:src="@{resources/images/enabled.png}" />
			</p>
		</div>

		<table class="table" th:object="${user}" th:if="${user.enabled}">
			<caption class="text-center" th:text="#{home.caption}">xx</caption>
			<thead>
				<tr>
					<th th:text="#{home.role}">Role</th>
					<th th:text="#{home.role.label}">Email</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="auth : *{authorities}"
					th:class="${authStat.even} ? 'even' : 'odd'">
					<td><a href="#" data-toggle="modal"
						data-target="#admin-dialog"> <img
							th:if="${#strings.substringAfter(auth.authority,'_') eq 'ADMIN'}"
							alt="admin" src="../../resources/images/admin.png"
							th:src="@{resources/images/admin.png}" data-toggle="tooltip"
							data-placement="below" th:title="#{home.clickme}" /></a>

						<div class="modal fade" role="dialog" aria-hidden="true"
							id="admin-dialog">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close float-right"
											data-dismiss="modal">&times;</button>
										<h3 class="modal-title">
											<span th:text="#{home.admin-dialog.title}" />
										</h3>
									</div>
									<div class="modal-body">
										<span th:text="#{home.admin-dialog.body}" />
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-success"
											data-dismiss="modal">
											<span th:text="#{home.admin-dialog.ok}" />
										</button>
									</div>
								</div>
							</div>
						</div> <a href="#" data-toggle="modal" data-target="#user-dialog"> <img
							th:if="${#strings.substringAfter(auth.authority,'_') eq 'USER'}"
							alt="user" src="../../resources/images/user.png"
							th:src="@{resources/images/user.png}" data-toggle="tooltip"
							data-placement="below" th:title="#{home.clickme}" /></a>

						<div class="modal fade" role="dialog" aria-hidden="true"
							id="user-dialog">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close float-right"
											data-dismiss="modal">&times;</button>
										<h3 class="modal-title">
											<span th:text="#{home.user-dialog.title}" />
										</h3>
									</div>
									<div class="modal-body">
										<span th:text="#{home.user-dialog.body}" />
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-success"
											data-dismiss="modal">
											<span th:text="#{home.user-dialog.ok}" />
										</button>
									</div>
								</div>
							</div>
						</div> <a href="#" data-toggle="modal" data-target="#root-dialog"> <img
							th:if="${#strings.substringAfter(auth.authority,'_') eq 'ROOT'}"
							alt="root" src="../../resources/images/root.png"
							th:src="@{resources/images/root.png}" data-toggle="tooltip"
							data-placement="below" th:title="#{home.clickme}" /></a>

						<div class="modal fade" role="dialog" aria-hidden="true"
							id="root-dialog">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close float-right"
											data-dismiss="modal">&times;</button>
										<h3 class="modal-title">
											<span th:text="#{home.root-dialog.body}" />
										</h3>
									</div>
									<div class="modal-body">
										<span th:text="#{home.root-dialog.body}" />
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-success"
											data-dismiss="modal">
											<span th:text="#{home.root-dialog.ok}" />
										</button>
									</div>
								</div>
							</div>
						</div></td>
					<td th:text="${#strings.substringAfter(auth.authority,'_')}">x</td>
				</tr>
			</tbody>
		</table>

		<div id="calendar" />

		<div id="popupEventForm" class="modal fade" role="dialog"
			style="display: none;">
			<div class="modal-header">
				<h3>Add new event</h3>
			</div>
			<div class="modal-body">
				<form id="EventForm" class="well">
					<input type="hidden" id="eventID" /> <label>Event title</label> <input
						type="text" id="eventTitle" placeholder="Title here" /><br /> <label>Scheduled
						date</label> <input type="text" id="eventDate" /><br /> <label>Scheduled
						time</label> <input type="text" id="eventTime" /><br /> <label>Appointment
						length (minutes)</label> <input type="text" id="eventDuration"
						placeholder="15" /><br />
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" id="btnPopupCancel" data-dismiss="modal"
					class="btn">Cancel</button>
				<button type="button" id="btnPopupSave" data-dismiss="modal"
					class="btn btn-primary">Save event</button>
			</div>
		</div>


	</div>

</body>
</html>
