<!DOCTYPE html>
<html layout:decorator="layout/main">
<head>
<title>${#messages.msg('login.title')}</title>
<script type="text/javascript">
function openDialog() {
	document.getElementById('about-dialog').showModal();
}
</script>

</head>
<body>

	<div layout:fragment="content">

		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="index"> <span
						th:text="#{application.acronym}" /> <img class="brand"
						th:src="@{resources/images/icon.png}" />
					</a>
				</div>
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#navbar-container">
						<span class="sr-only"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
				</div>

				<div class="collapse navbar-collapse" id="navbar-container">
					<ul class="nav navbar-nav">

						<li><a href="/resetpwd" th:href="@{/resetpwd}"> <span
								class="glyphicon glyphicon-link" /> <span
								th:text="#{navbar.resetpwd}" /></a></li>

					</ul>
					<ul class="nav navbar-nav navbar-right">

						<li><a href="/register" th:href="@{/register}"><span
								class="glyphicon glyphicon-user"></span> <span
								th:text="#{navbar.register}" /></a></li>

						<li><a href="home" th:href="@{/home}"><span
								class="glyphicon glyphicon-log-in"></span> <span
								th:text="#{navbar.login}" /></a></li>


						<li><a href="/contact" th:href="@{/contact}"><span
								class="glyphicon glyphicon-envelope"></span> <span
								th:text="#{navbar.contact}" /></a></li>

						<li class="dropdown"><a class="dropdown-toggle"
							data-toggle="dropdown" href="#"> <span
								class="glyphicon glyphicon-info-sign" /> <span
								th:text="#{navbar.options}" /> <span class="caret" /></a>

							<ul class="dropdown-menu" role="menu">
								<li><a href="#" id="about-opener" data-toggle="modal"
									data-target="#about-dialog"><span
										class="glyphicon glyphicon-education" /> <span
										th:text="#{navbar.about}" /></a></li>
								<li class="dropdown-submenu"><a href="#"
									data-toggle="modal" data-target="#help-dialog" id="help-opener">
										<span class="glyphicon glyphicon-question-sign" /> <span
										th:text="#{navbar.help}" />
								</a></li>
								<li class="divider" role="separator"></li>
								<li class="dropdown-submenu disabled"><a href="#"
									id="help_opener2"> <span class="glyphicon glyphicon-leaf" />
										<span th:text="#{navbar.help.system}" />
								</a></li>
							</ul></li>
					</ul>
				</div>
			</div>
		</nav>

		<h3 class="text-center" th:text="#{index.title}"></h3>

		<!-- col-sm-offset-1  -->
		<div class="container" style="background-color: transparent;">

			<div class="paragraphs">

				<div class="jumbotron" style="background-color: transparent;">
					<h4>Quisque cursus</h4>
					<p>
						<code>Metus vitae</code>
						pharetra auctor, sem massa mattis sem, at interdum magna augue
						eget diam. <span class="text-muted">Vestibulum ante ipsum
							primis in faucibus orci luctus et ultrices posuere cubilia Curae</span>;
						Morbi lacinia molestie dui. Praesent blandit dolor. Sed non quam.
						Donec lacus nunc, viverra nec, blandit vel, egestas et, augue. <span
							class="text-danger">Vestibulum tincidunt malesuada tellus.</span>
						Ut ultrices ultrices enim. Curabitur sit amet mauris. Morbi in dui
						quis est pulvinar ullamcorper.
					</p>
				</div>

				<div class="row voffset20">

					<img class="pull-left img-responsive  gap-right img-rounded"
						src="../../../resources/images/belalcazar.png" th:width="180px"
						th:src="@{/resources/images/belalcazar.png}"
						th:alt-title="#{footer.title}" />

					<div class="page-header">
						<h4>Sed dignissim lacinia nunc</h4>
						<p>
							Lorem ipsum dolor sit amet,
							<mark>consectetur adipiscing</mark>
							elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus
							diam. Sed nisi. Nulla quis sem at nibh <abbr>elementum</abbr>
							imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus
							sed augue semper porta. Mauris massa. Vestibulum lacinia arcu
							eget nulla. Class aptent taciti sociosqu ad litora torquent per
							conubia nostra, per inceptos himenaeos. Curabitur sodales ligula
							in libero.
						</p>
					</div>
					<p class="small">Curabitur sodales ligula in libero. Sed
						dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh.
						Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed
						convallis tristique sem. Proin ut ligula vel nunc egestas
						porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus
						non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris
						ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod
						in, nibh.</p>

					<p>In scelerisque sem at dolor. Maecenas mattis. Sed convallis
						tristique sem. Curabitur tortor. Pellentesque nibh. Aenean quam.
						In scelerisque sem at dolor. Class aptent taciti sociosqu ad
						litora torquent per conubia nostra, per inceptos himenaeos.</p>

					<blockquote>By Lorum Ipsum Generator</blockquote>

				</div>
				<div class="row voffset20">
					<div class="well" style="background-color: transparent;">
						<h4>Sed lectus</h4>
						Nam nec ante. Sed lacinia, urna non tincidunt mattis, tortor neque
						adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi.
						<span class="bg-success">Ut fringilla. Suspendisse potenti.
							Nunc feugiat mi a tellus consequat imperdiet</span>. Vestibulum sapien.
						Proin quam. Etiam ultrices. Suspendisse in justo eu magna luctus
						suscipit. Integer euismod lacus luctus magna.
					</div>
				</div>

				<div class="row voffset20">

					<img class="pull-right img-responsive gap-left img-rounded"
						src="../../../resources/images/ramblas.png" th:width="180px"
						th:src="@{/resources/images/ramblas.png}"
						th:alt-title="#{footer.title}" />

					<p class="initialism">
						Suspendisse potenti. Nunc feugiat mi a tellus consequat imperdiet.
						Vestibulum sapien. Proin quam. Etiam ultrices. Suspendisse in
						justo eu magna luctus suscipit. Sed lectus. Integer euismod lacus
						luctus magna. <abbr>Quisque cursus</abbr>, metus vitae pharetra
						auctor, sem massa mattis sem, at interdum magna augue eget diam. <span
							class="text-warning">Vestibulum ante ipsum primis in
							faucibus orci luctus et ultrices posuere cubilia Curae;</span> Morbi
						lacinia molestie dui. Praesent blandit dolor. Sed non quam. In vel
						mi sit amet augue congue elementum. Morbi in ipsum sit amet pede
						facilisis laoreet.
					</p>

					<p class="lead">
						Nam nec ante.
						<kbd>Sed lacinia</kbd>
						, urna non tincidunt mattis, tortor neque adipiscing diam, a
						cursus ipsum ante quis turpis. Nulla facilisi. <span
							class="text-success">Ut fringilla.</span> Suspendisse potenti.
						Nunc feugiat mi a tellus consequat imperdiet. Vestibulum sapien.
						Proin quam. Etiam ultrices. Suspendisse in justo eu magna luctus
						suscipit. Sed lectus. Integer euismod lacus luctus magna.
					</p>

					<blockquote class="blockquote-reverse">By Lorum Ipsum
						Generator</blockquote>
				</div>

				<div class="row voffset20">
					<div class="panel-group">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" href="#collapse1">Aenean lectus
										elit</a>
								</h4>
							</div>
							<div id="collapse1" class="panel-collapse collapse">
								<div class="panel-body">Cras metus. Sed aliquet risus a
									tortor. Integer id quam. Morbi mi. Quisque nisl felis,
									venenatis tristique, dignissim in, ultrices sit amet, augue.
									Proin sodales libero eget ante. Nulla quam. Aenean laoreet.
									Vestibulum nisi lectus, commodo ac, facilisis ac, ultricies eu,
									pede. Ut orci risus, accumsan porttitor, cursus quis, aliquet
									eget, justo. Sed pretium blandit orci. Ut eu diam at pede
									suscipit sodales. fermentum non, convallis id, sagittis at,
									neque.</div>
								<div class="panel-footer">By Lorum Ipsum Generator</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
					<li data-target="#myCarousel" data-slide-to="3"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img class="img-responsive center-block" th:src="@{/resources/images/babe_01.jpg}" alt="pic01" />
						<div class="carousel_caption">
							<h4>Pic01</h4>
							<p>Comentario de la pic 01</p>
						</div>
					</div>

					<div class="item">
						<img class="img-responsive center-block" th:src="@{/resources/images/babe_02.jpg}" alt="pic02" />
						<div class="carousel_caption">
							<h4>Pic02</h4>
							<p>Comentario de la pic 02</p>
						</div>
					</div>

					<div class="item">
						<img class="img-responsive center-block" th:src="@{/resources/images/babe_03.jpg}" alt="pic03" />
						<div class="carousel_caption">
							<h4>Pic03</h4>
							<p>Comentario de la pic 03</p>
						</div>
					</div>
					
					<div class="item">
						<img class="img-responsive center-block" th:src="@{/resources/images/babe_04.jpg}" alt="pic04" />
						<div class="carousel_caption">
							<h4>Pic04</h4>
							<p>Comentario de la pic 04</p>
						</div>
					</div>

				</div>

				<!-- Left and right controls -->
				<a class="left carousel-control" href="#myCarousel" role="button"
					data-slide="prev"> <span
					class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Anterior</span>
				</a> <a class="right carousel-control" href="#myCarousel" role="button"
					data-slide="next"> <span
					class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Siguiente</span>
				</a>
			</div>

		</div>

		<!-- registered dialog -->
		<div name="registered-dialog" id="registered-dialog"
			class="modal fade" tabindex="-1" aria-hidden="true" role="dialog">
			<div class="modal-dialog" keyboard="false" backdrop="false">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title">
							<span th:text="#{login.registered.title}" />
						</h4>
					</div>
					<div class="modal-body">
						<span th:text="#{login.registered}" />
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							<span th:text="#{login.dialog.close}" />
						</button>
					</div>
				</div>
			</div>
		</div>


		<!-- About dialog -->
		<div name="about-dialog" id="about-dialog" class="modal fade"
			tabindex="-1" aria-hidden="true" role="dialog">
			<div class="modal-dialog" keyboard="false" backdrop="false">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title">
							<span th:text="#{about.title}" />
						</h4>
					</div>
					<div class="modal-body">
						<dl class="dl-horizontal">
							<dt>
								<span th:text="#{about.formation}" />
							</dt>
							<dd>
								<ul class="list-unstyled">
									<li><span th:text="#{about.formation.item1}" /></li>
									<li><span th:text="#{about.formation.item2}" /></li>
									<li><span th:text="#{about.formation.item3}" /></li>
								</ul>
							</dd>
							<dt>
								<span th:text="#{about.other}" />
							</dt>
							<dd>
								<ul class="list-unstyled">
									<li><span th:text="#{about.other.item1}" /></li>
									<li><span th:text="#{about.other.item2}" /></li>
									<li><span th:text="#{about.other.item3}" /></li>
									<li><span th:text="#{about.other.item4}" /></li>
								</ul>
							</dd>
							<dt>
								<span th:text="#{about.work}" />
							</dt>
							<dd>
								<ul class="list-unstyled">
									<li><span th:text="#{about.work.item1}" /></li>
									<li><span th:text="#{about.work.item2}" /></li>
									<li><span th:text="#{about.work.item3}" /></li>
									<li><span th:text="#{about.work.item4}" /></li>
								</ul>
							</dd>
						</dl>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							<span th:text="#{login.dialog.close}" />
						</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Help dialog -->
		<div name="help-dialog" id="help-dialog" class="modal fade"
			role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">
							<span th:text="#{help.title}" />
						</h4>
					</div>
					<div class="modal-body">
						<ul class="list-group">
							<!-- li class="list-group-item"><span th:text="#{help.item1}" /></li -->
							<li class="list-group-item"><span th:text="#{help.item2}" /></li>
							<li class="list-group-item"><span th:text="#{help.item3}" /></li>
							<li class="list-group-item"><span th:text="#{help.item4}" /></li>
							<li class="list-group-item"><span th:text="#{help.item5}" /></li>
							<li class="list-group-item"><span th:text="#{help.item6}" /></li>
							<!-- li class="list-group-item"><span th:text="#{help.item7}" /></li -->
							<li class="list-group-item"><span th:text="#{help.item8}" /></li>
							<!-- li class="list-group-item"><span th:text="#{help.item9}" /></li -->
							<!-- li class="list-group-item"><span th:text="#{help.item10}" /></li -->
							<!-- li class="list-group-item"><span th:text="#{help.item11}" /></li -->
							<!-- li><span th:text="#{help.item12}" /></li -->
						</ul>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							<span th:text="#{login.dialog.close}" />
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>
