<!DOCTYPE html>
<html layout:decorator="layout/main">
<head>
<title>${#messages.msg('content.title')}</title>
</head>
<body>

	<div layout:fragment="content">

		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#"><span
						th:text="#{application.acronym}" /></a>
				</div>
				<div>
					<ul class="nav navbar-nav">

						<li class="active"><a href="#">
						<span class="glyphicon glyphicon-home" /> <span
								th:text="#{login.home}" /></a>
						</li>

						<li><a href="/resetpwd" th:href="@{/resetpwd}"> <span
								class="glyphicon glyphicon-link" /> <span
								th:text="#{login.resetpwd}" /></a></li>

					</ul>
					<ul class="nav navbar-nav navbar-right">

						<li><a href="/register" th:href="@{/register}"><span
								class="glyphicon glyphicon-user"></span> <span
								th:text="#{login.register}" /></a></li>

						<li><a href="/contact" th:href="@{/contact}"><span
								class="glyphicon glyphicon-envelope"></span> <span
								th:text="#{login.contact}" /></a></li>

						<li><a href="#" id="about_opener"><span
								class="glyphicon glyphicon-education" /> <span
								th:text="#{login.about}" /></a></li>

						<li><a href="#" id="help_opener"><span
								class="glyphicon glyphicon-question-sign" /> <span
								th:text="#{login.help}" /></a></li>

					</ul>
				</div>
			</div>
		</nav>

		<h3 class="text-center" th:text="#{login.title}"></h3>

		<form name="f_login" th:action="@{/login}" method="post"
			class="form-horizontal" role="form">
			<legend>
				<span th:utext="#{login.legend}" />
			</legend>
			<fieldset>
				<div th:if="${param.error}" class="alert error">
					<span th:text="#{login.error.validacion}" />
				</div>
				<div th:if="${param.logout}" class="alert success">
					<span th:text="#{login.loggedout}" />
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2 control-label" for="username">
						<span th:utext="#{login.name}" />
					</label>
					<div class="col-sm-10">
						<input type="email" placeholder="Email" id="username"
							name="username" value="pep@smvcp.com" required="required"
							class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2 control-label" for="password"><span
						th:utext="#{login.password}" /></label>
					<div class="col-sm-10">
						<input type="password" placeholder="Clave" id="password"
							name="password" value="123456" class="form-control" /> <input
							type="hidden" name="${_csrf.parameterName}"
							value="${_csrf.token}" required="required" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<div class="checkbox">
							<label for="remember_me"> <input type="checkbox"
								id="remember_me" name="remember-me" /> <span
								th:utext="#{login.rememberme}" /></label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary btn-lg">
							<span th:utext="#{login.login}" />
						</button>
					</div>
				</div>
			</fieldset>

		</form>

		<div id="help_dialog" th:title="#{login.help}">
			<ul class="list-group">
				<!-- li class="list-group-item"><span th:text="#{help.item1}" /></li -->
				<li class="list-group-item"><span th:text="#{help.item2}" /></li>
				<li class="list-group-item"><span th:text="#{help.item3}" /></li>
				<li class="list-group-item"><span th:text="#{help.item4}" /></li>
				<li class="list-group-item"><span th:text="#{help.item5}" /></li>
				<li class="list-group-item"><span th:text="#{help.item6}" /></li>
				<!-- li class="list-group-item"><span th:text="#{help.item7}" /></li -->
				<li class="list-group-item"><span th:text="#{help.item8}" /></li>
				<!-- li class="list-group-item"><span th:text="#{help.item9}" /></li -->
				<!-- li class="list-group-item"><span th:text="#{help.item10}" /></li -->
				<!-- li class="list-group-item"><span th:text="#{help.item11}" /></li -->
				<!-- li><span th:text="#{help.item12}" /></li -->
			</ul>
		</div>

		<div id="about_dialog" th:title="#{login.about}">
			<dl class="dl-horizontal">
				<dt>
					<span th:text="#{about.formation}" />
				</dt>
				<dd>
					<ul class="list-unstyled">
						<li><span th:text="#{about.formation.item1}" /></li>
						<li><span th:text="#{about.formation.item2}" /></li>
						<li><span th:text="#{about.formation.item3}" /></li>
					</ul>
				</dd>
				<dt>
					<span th:text="#{about.other}" />
				</dt>
				<dd>
					<ul class="list-unstyled">
						<li><span th:text="#{about.other.item1}" /></li>
						<li><span th:text="#{about.other.item2}" /></li>
						<li><span th:text="#{about.other.item3}" /></li>
					</ul>
				</dd>
				<dt>
					<span th:text="#{about.work}" />
				</dt>
				<dd>
					<ul class="list-unstyled">
						<li><span th:text="#{about.work.item1}" /></li>
						<li><span th:text="#{about.work.item2}" /></li>
						<li><span th:text="#{about.work.item3}" /></li>
					</ul>
				</dd>
			</dl>
		</div>



	</div>
</body>
</html>
