<!DOCTYPE html>
<html layout:decorator="layout/main">
<head>
<title>${#messages.msg('content.title')}</title>
</head>
<body>


	<div layout:fragment="content">

		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">SMVCP1</a>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="/resetpwd" th:href="@{/resetpwd}"><span
								th:text="#{login.resetpwd}" /></a></li>
						
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/register" th:href="@{/register}"><span
								class="glyphicon glyphicon-user"></span> <span
								th:text="#{login.register}" /></a></li>
						<li><a href="about" th:href="@{/about}"><span
								class="glyphicon glyphicon-education"></span> <span
								th:text="#{login.about}" /></a></li>
						<li><a href="help" th:href="@{/help}"><span
								class="glyphicon glyphicon-question-sign"></span> <span
								th:text="#{login.help}" /></a></li>
					</ul>
				</div>
			</div>
		</nav>

		<h3 class="text-center" th:text="#{login.title}"></h3>

		<form name="f_login" th:action="@{/login}" method="post"
			class="form-horizontal" role="form">
			<legend>
				<span th:utext="#{login.legend}" />
			</legend>
			<fieldset>
				<div th:if="${param.error}" class="alert error">
					<span th:text="#{login.error.validacion}" />
				</div>
				<div th:if="${param.logout}" class="alert success">
					<span th:text="#{login.loggedout}" />
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2 control-label" for="username">
						<span th:utext="#{login.name}" />
					</label>
					<div class="col-sm-10">
						<input type="email" placeholder="Email" id="username"
							name="username" value="pep@smvcp.com" required="required"
							class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2 control-label" for="password"><span
						th:utext="#{login.password}" /></label>
					<div class="col-sm-10">
						<input type="password" placeholder="Clave" id="password"
							name="password" value="123456" class="form-control" /> <input
							type="hidden" name="${_csrf.parameterName}"
							value="${_csrf.token}" required="required" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<div class="checkbox">
							<label for="remember_me"> <input type="checkbox"
								id="remember_me" name="remember-me" /> <span
								th:utext="#{login.rememberme}" /></label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary btn-lg">
							<span th:utext="#{login.login}" />
						</button>
					</div>
				</div>
			</fieldset>

		</form>

	</div>
</body>
</html>
