<!DOCTYPE html>
<html layout:decorator="layout/main">
<head>
<title>${#messages.msg('profile.title')}</title>
</head>
<body>

	<div layout:fragment="content">

		<h3 th:text="#{profile.title}"></h3>

		<form action="#" th:action="@{/profile}" th:object="${profileBean}"
			method="post">
			<fieldset>
				<legend th:text="#{profile.legend}" />
				<!-- ul th:if="${#fields.hasAnyErrors()}">
				<li th:each="error : ${#fields.allErrors()}" th:text="${error}" >Error
					de entrada</li>
			</ul -->
				<table th:if="${#fields.hasAnyErrors()}" class="errorMessages">
					<tr th:each="error : ${#fields.allErrors()}">
						<td th:text="${error}">Error de entrada</td>
					</tr>
				</table>
				<label for="name" th:text="#{profile.name}" /> <input type="text"
					id="name" name="name" th:field="*{name}" th:errorclass="fieldError"
					required="required" placeholder="Nombre" />
				<!--  p th:if="${#fields.hasErrors('name')}" class="errorMessage" th:errors="*{name}">Error
				de entrada</p -->

				<!-- ul th:if="${#fields.hasErrors('name')}">
				<li th:each="error : ${#fields.errors('name')}" class="fieldError"
					th:text="${error}">Error de entrada</li>
			</ul>
			</p -->

				<p>
					<label for="city" th:text="#{profile.city}" /> <input type="text"
						id="city" name="city" th:field="*{city}"
						th:errorclass="fieldError" required="required"
						placeholder="Ciudad" />
					<!--  ul th:if="${#fields.hasErrors('city')}">
				<li th:each="error : ${#fields.errors('city')}" class="fieldError"
					th:text="${error}">Error de entrada</li>
			</ul -->
				</p>
				<p>
					<label for="profession" th:text="#{profile.profession}" /> <input
						type="text" id="profession" name="profession"
						th:field="*{profession}" th:errorclass="fieldError"
						required="required" placeholder="Profesion" />
					<!-- ul th:if="${#fields.hasErrors('profession')}">
				<li th:each="error : ${#fields.errors('profession')}"
					class="fieldError" th:text="${error}">Error de entrada</li>
			</ul -->
				</p>
				<p>
					<label for="phone" th:text="#{profile.phone}" /> <input
						type="text" id="phone" name="phone" th:field="*{phone}"
						th:errorclass="fieldError" required="required"
						placeholder="Telefono" />
					<!-- ul th:if="${#fields.hasErrors('phone')}">
				<li th:each="error : ${#fields.errors('phone')}" class="fieldError"
					th:text="${error}">Error de entrada</li>
			</ul -->
				</p>

				<div>
					<button type="submit" class="btnSmall" name="action" value="save">
						<span th:text="#{register.action.save}" />
					</button>
					<button type="submit" class="btnSmall" name="action" value="cancel">
						<span th:text="#{register.action.cancel}" />
					</button>
				</div>
				<input type="hidden" name="${_csrf.parameterName}"
					value="${_csrf.token}" />
			</fieldset>
		</form>

	</div>
</body>
</html>