<!DOCTYPE html>
<html layout:decorator="layout/main">
<head>
<title>${#messages.msg('register.title')}</title>
</head>
<body>

	<div layout:fragment="content">

		<h3 class="text-center" th:text="#{register.title}"></h3>

		<form th:action="@{/register}" th:object="${userRegistrationBean}"
			method="post" class="form-horizontal" role="form">
			<legend>
				<span th:utext="#{register.legend}" />
			</legend>
			<fieldset>
				<table th:if="${#fields.hasAnyErrors()}" class="table">
					<tr th:each="error : ${#fields.allErrors()}">
						<td 
							th:text="${error}">Error de entrada</td>
					</tr>
				</table>

				<!--  ul th:if="${#fields.hasAnyErrors()}">
				<li th:each="error : ${#fields.allErrors()}" th:text="${error}">Error
					de entrada</li>
			</ul -->
				<div class="form-group">
					<label class="control-label col-sm-2" for="username"> <span
						th:text="#{register.userName}" />
					</label>
					<div class="col-sm-10">
						<input type="text" id="username" name="username"
							th:field="*{userName}" class="form-control" 
							th:placeholder="#{register.userName.tip}"/>
					</div>
					<!--  ul th:if="${#fields.hasErrors('userName')}">
				<li th:each="error : ${#fields.errors('userName')}"
						th:text="${error}">Error de entrada</li>
			</ul -->
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="password"> <span
						th:text="#{register.password}" />
					</label>
					<div class="col-sm-10">
						<input type="password" id="password" name="password"
							th:field="*{password}" class="form-control" 
							th:placeholder="#{register.password.tip}"/>
					</div>
					<!-- ul th:if="${#fields.hasErrors('password')}">
				<li th:each="error : ${#fields.errors('password')}"
						th:text="${error}">Error de entrada</li>
			</ul -->
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="passwordConfirmation">
						<span th:text="#{register.passwordConfirmation}" />
					</label>
					<div class="col-sm-10">
						<input type="password" id="passwordConfirmation"
							name="passwordConfirmation" th:field="*{passwordConfirmation}"
							class="form-control" th:placeholder="#{register.passwordConfirmation.tip}"/>
					</div>
					<!-- ul th:if="${#fields.hasErrors('passwordConfirmation')}">
				<li th:each="error : ${#fields.errors('passwordConfirmation')}"
						th:text="${error}">Error de entrada</li>
			</ul -->
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" name="action" value="save"
							class="btn btn-default btn-lg">
							<span th:text="#{register.action.save}" />
						</button>
						<button type="submit" name="action" value="cancel"
							class="btn btn-default btn-lg">
							<span th:text="#{register.action.cancel}" />
						</button>
					</div>
				</div>
				<input type="hidden" name="${_csrf.parameterName}"
					value="${_csrf.token}" />
			</fieldset>
		</form>

	</div>
</body>
</html>