<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:pages="http://pagesdialect.sourceforge.net">
<head>
<meta charset=" UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="shortcut icon" th:href="@{/resources/images/smartcoding_logo.png}" />

<link rel="stylesheet" th:href="@{/resources/css/main.css}" />

<!-- If you don't want to download and host Bootstrap yourself, you can include it from a CDN (Content Delivery Network). -->

<link rel='stylesheet'
	th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" />
	
<!-- link rel='stylesheet'
	th:href="@{/webjars/bootstrap/3.3.5/css/basic-template.css}" / -->

<link rel='stylesheet'
	th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.theme.min.css}" />

<link rel='stylesheet'
	th:href="@{/webjars/jquery-ui/1.11.4/jquery-ui.css}" />
	
<link rel='stylesheet' 
	th:href="@{/webjars/bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css}" />
	
<link rel='stylesheet' th:href="@{/resources/fullcalendar-2.5.0/fullcalendar.css}" />

<link rel='stylesheet' th:href="@{/resources/fullcalendar-scheduler-1.1.0/scheduler.css}" />	
	
<!-- Achtung place jquery.min.js first, then bootstrap.min.js and finally jquery-ui otherwise menus won't work  -->	
	
<script type="text/javascript"
	th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>	

<script type="text/javascript"
	th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>

<script type="text/javascript"
	th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.js}"></script>	
	
<script type="text/javascript" 
	th:src="@{/resources/js/main.js}"></script>

<script type="text/javascript" 
	th:src="@{/webjars/bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js}"></script>	

<script type="text/javascript"  
	th:src="@{/resources/fullcalendar-2.5.0/lib/moment.min.js}"></script>

<script type="text/javascript"  
	th:src="@{/resources/fullcalendar-2.5.0/fullcalendar.js}"></script>

<script type="text/javascript"  
	th:src="@{/resources/fullcalendar-scheduler-1.1.0/scheduler.js}"></script>

<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">SMVCP1</title>
</head>
<body th:inline="text">
	<!--/* Standard layout can be mixed with Layout Dialect */-->
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<div layout:fragment="content"></div>
	</div>
	<div th:replace="fragments/footer :: footer">&copy; Mendez Corp.</div>
</body>
</html>
