
/* Style for pagination*/
@CHARSET "UTF-8";
span.paginate-count {
    display: block;
    margin: 0.5em 0em 0.5em 0em;
    padding: 0.2em;
    background-color: #5c7a1f;
    color: white;
    text-align:center;
}

div.paginate, span.paginate-no-result {
    display: block;
    background-color: #EEEEEE;
    padding: 0.2em;
    text-align: center;
    margin-bottom: 0.4em;
}

a {
    color: #5c7a1f;
}

a.paginate-first { margin-right: 0.6em; }
a.paginate-first:before { content: '<< '; font-weight: bolder; }

a.paginate-previous { margin-right: 0.6em; }
a.paginate-previous:before { content: '< '; font-weight: bolder; }

a.paginate-next { margin-left: 0.6em; }
a.paginate-next:after { content: ' >'; font-weight: bolder; }

a.paginate-last { margin-left: 0.6em; }
a.paginate-last:after { content: ' >>'; font-weight: bolder; }

a.sort-asc:after { content: ' a-z'; font-weight: bolder; }
a.sort-desc:after { content: ' z-a'; font-weight: bolder; }
