/* Typography */
/*
body {
	font-family: Arial, Verdana, sans-serif;
	font-size: 100%;
}

p {
	font-size: 0.75em;
}

.intro {
	font-size: 1em;
}

h1 {
	font-size: 1.5em;
	text-transform: uppercase;
}

h2 {
	font-size: 1.3em;
	letter-spacing: 0.2em;
	margin-bottom: 10px;
}

h3 {
	font-size: 0.875em;
	margin: 10px;
}

.alert.error {
	color: red;
}

.alert.success {
	color: green;
}
*/
